/*
 * lay-out
 */

.section {
  width: 100%;
  &__introduction {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 85px;
    p {
      font-weight: bold;
    }
  }
  &__main-text {
    max-width: 750px;
    margin: 0 auto 80px;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.columns-2 {
  width: 50%;
}

.columns-3 {
  width: 33.3333%;
}

/*
 * components
 */

.splash {
  position: relative;
  height: 100%;
  background-color: gray;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .splash__title {
    position: relative;
    margin-left: 110px;
    &__sub {
      position: absolute;
      &__pre {
        left: -90px;
        bottom: 30px;
        font-size: 40px;
        text-transform: uppercase;
      }
      &__post {
        bottom: -43px;
        right: 110px;
        font-size: 85px;
      }
    }
  }
  .splash__subtitle {
    margin-top: 85px;
  }
}

.gallery {
  margin: 175px auto 18px;
}

.icon {
  margin: 0 auto 65px;
  height: 150px;
}

.about {
  padding: 120px 10% 185px;
  color: $gold;
  p {
    margin: 0 auto;
    max-width: 400px;
  }
  &__profile {
    &__icon {
      position: relative;
      &__img {
        border-radius: 50%;
        border: 9px solid $gold;
      }
      &:before, &:after {
        content: "";
        height: 100px;
        width: 15px;
        @include translateXY;
      }
      &:before {
        background: url("../img/icon__profile__knife.svg") no-repeat;
        background-size: contain;
        margin-left: 100px;
      }
      &:after {
        background: url("../img/icon__profile__fork.svg") no-repeat;
        background-size: contain;
        margin-left: -100px;
      }
    }
  }
  &__animal-rights {
    &__icon {
    }
  }
}

.offer {
  padding: 120px 10% 185px;
  background: $gold;
  color: #fff;
  .icon {
    height: 100px;
    margin-bottom: 45px;
  }
}

.kapsaga {
  padding: 120px 10% 185px;
  background: $green;
  color: $gold;
  &__illustration {
    height: 110px;
    margin: 0 auto;
  }
}

/*
 * styling
 */
