/*
 * lay-out
 */

.section {
  width: 100%;
  &__introduction {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 85px;
    p {
      font-weight: bold;
    }
  }
  &__main-text {
    max-width: 750px;
    margin: 0 auto 80px;
  }
}

.wrapper {
  padding: 0 10%;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
}

/*
 * components
 */

.splash {
  position: relative;
  height: 100%;
  background: url("../img/slider__img-1.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .splash__title {
    position: relative;
    margin-left: 110px;
    &__sub {
      position: absolute;
      &__pre {
        left: -90px;
        bottom: 30px;
        font-size: 40px;
        text-transform: uppercase;
      }
      &__post {
        bottom: -43px;
        right: 110px;
        font-size: 85px;
      }
    }
  }
  .splash__subtitle {
    margin-top: 85px;
  }
}

.gallery {
  margin: 175px auto 18px;
  width: 100%;
  padding: 0 10%;
  &__display {
    display: flex;
    &__button {
      margin: 40px 34px 40px 0;
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      align-items: center;
      background-color: $brown;
      transition: background-color 0.3s ease-in-out;
      max-height: 400px;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: darken($brown, 10%);
      }
      &__icon {
        padding: 0 10%;
        width: 100%;
      }
      &.is-hidden {
        visibility: hidden;
      }
    }
    &__button-right {
      margin: 40px 0 40px 34px;
      img {
        transform: scale(-1, 1);
      }
    }
    &__projection {
      user-select: none;
      flex-grow: 1;
      flex-basis: 70%;
      &__img {
        width: 100%;
        height: auto;
      }
    }
    &__pagination {
      display: none;
    }
  }
  &__navigation {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    &__item {
      height: 100%;
      opacity: 0.7;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
      &.is-being-displayed {
        opacity: 1;
        cursor: default;
      }
      &:hover {
        opacity: 1;
      }
      &__container {
        height: 100%;
        margin: 0 7px;
        &__img {
          height: 100%;
        }
      }
    }
  }
}

.icon {
  margin: 0 auto 65px;
  height: 150px;
  width: auto;
}

.about {
  padding: 120px 0;
  color: $gold;
  margin: 0 auto;
  p {
    margin: 0 auto;
    max-width: 400px;
  }
  &__profile {
    &__icon {
      position: relative;
      &__img {
        border-radius: 50%;
        border: 9px solid $gold;
      }
      &:before, &:after {
        content: "";
        height: 100px;
        width: 15px;
        @include translateXY;
      }
      &:before {
        background: url("../img/icon__profile__knife.svg") no-repeat;
        background-size: contain;
        margin-left: 100px;
      }
      &:after {
        background: url("../img/icon__profile__fork.svg") no-repeat;
        background-size: contain;
        margin-left: -100px;
      }
    }
  }
}

.offer {
  padding: 120px 0 220px;
  background: $gold;
  color: #fff;
  .icon {
    height: 100px;
    margin-bottom: 45px;
  }
  .column {
    max-width: 250px;
    margin: 0 auto;
    padding: 15px;
  }
}

.calendar {
  margin-top: 120px;
  text-align: center;
  &__title {
    margin-bottom: 34px;
  }
  &__event {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    &__date {
      margin-right: 34px;
      font-size: 12px;
      font-weight: bold;
    }
    &__content {
      &__title {
        font-size: 50px;
      }
      &__anchors {
        font-size: 20px;
        font-family: "The Wild Breath of Zelda";
        display: flex;
        &__anchor {
          padding-left: 34px;
          margin-right: 24px;
          position: relative;
          &:before {
            content: "";
            @include translateY;
            left: 0;
            background: url("../img/icon__calendar-anchor.png") no-repeat;
            background-size: 100%;
            height: 21px;
            width: 20px;
            transform-origin: center;
          }
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

.kapsaga {
  padding: 120px 0 185px;
  background: $green;
  color: $gold;
  &__illustration {
    height: 110px;
    margin: 0 auto;
  }
}

.footer {
  background: #7c5f5b;
  padding: 120px 0 160px;
  color: #fff;
  .row {
    text-align: left;
  }
  .footer__title {
    color: #b5944d;
    margin-bottom: 4px;
  }
  &__address {
    margin-bottom: 54px;
  }
  &__contact {
    margin-bottom: 34px;
  }
  &__illustration {
    display: flex;
    justify-content: flex-end;
    img {
      width: 200px;
    }
  }
  &__anchors {
    font-size: 20px;
    font-family: "The Wild Breath of Zelda";
    color: #b5944d;
    &__anchor {
      padding-left: 34px;
      margin-right: 24px;
      position: relative;
      &:before {
        content: "";
        @include translateY;
        left: 0;
        background: url("../img/icon__footer-anchor.svg") no-repeat;
        background-size: 100%;
        height: 28px;
        width: 20px;
        transform-origin: center;
        margin-top: -3px;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}

/*
 * styling
 */
