@media only screen and (max-width: 1200px) {
  p, .body-regular {
    font-size: 16px;
    line-height: 24px;
  }
  h4, .title-4 {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    .column {
      flex-basis: 100%;
      margin-top: 85px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .offer {
    .section__introduction {
      margin-bottom: 0;
    }
    .column {
      flex-basis: 50%;
      margin-top: 85px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .gallery {
     margin: 85px auto 18px;
     width: 100%;
     padding: 0;
  }
}

@media only screen and (max-width: 720px) {
  h1, .title-1 {
    font-size: 75px;
  }
  h2, .title-2 {
    font-size: 16px;
  }
  h3, .title-3 {
    font-size: 90px;
  }
  .splash {
    .splash {
      &__title {
      position: relative;
      margin-left: 50px;
        &__sub {
          &__pre {
            left: -40px;
            bottom: 20px;
            font-size: 20px;
          }
          &__post {
            bottom: -22px;
            right: 55px;
            font-size: 42px;
          }
        }
      }
      &__subtitle {
        margin-top: 45px;
      }
    }
  }
  .offer {
    .column {
      flex-basis: 100%;
    }
  }
  .gallery__display__projection {
    flex-basis: 65%;
  }
  .gallery {
    &__display {
      &__button {
        margin: 40px 17px 40px 0;
      }
      &__button-right {
        margin: 40px 0 40px 17px;
      }
    }

    &__navigation {
      display: none;
    }
  }
  .calendar {
    &__event {
      text-align: left;
      display: flex;
      justify-content: center;
      margin-bottom: 31px;
      &__date {
        margin-right: 31px;
        font-size: 12px;
        font-weight: bold;
      }
      &__content {
        &__title {
          font-size: 34px;
          margin-bottom: 0;
        }
        &__anchors {
          font-size: 16px;
          &__anchor {
            margin-top: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  p, .body-regular {
    font-size: 14px;
    line-height: 22px;
  }
  h3, .title-3 {
    font-size: 70px;
  }
  h4, .title-4 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 7px;
  }

  .about {
    padding: 70px 0;
    color: #b5944d;
    margin: 0 auto;
  }
  .offer {
    padding: 70px 0 90px;
    .icon {
      height: 80px;
      margin-bottom: 34px;
    }
  }
  .offer .column {
    margin-top: 45px;
  }
  .calendar {
    margin-top: 70px;
    &__event {
      flex-direction: column;
      align-items: center;
      text-align: center;
      &__date {
        margin: 0 0 14px 0;
      }
      &__content {
        &__anchors {
          flex-direction: column;
          margin-left: 24px;
        }
      }
    }
  }
  .kapsaga {
    padding: 70px 0 120px;
  }
  .section__introduction {
    margin: 0 auto 45px;
  }
  .footer {
    padding: 70px 0 120px;
  }
}

@media only screen and (max-width: 340px) {
  p, .body-regular {
    font-size: 13px;
    line-height: 21px;
  }
  h1, .title-1 {
    font-size: 70px;
  }
  .splash {
    .splash {
      &__title {
      position: relative;
      margin-left: 42px;
        &__sub {
          &__pre {
            left: -40px;
            bottom: 20px;
            font-size: 20px;
          }
          &__post {
            bottom: -19px;
            right: 55px;
            font-size: 37px;
          }
        }
      }
      &__subtitle {
        margin-top: 34px;
      }
    }
  }
}
