// =============================================
// Mixin - Typography
// =============================================

@mixin title-1 {
  font-family: "The Wild Breath of Zelda";
  font-size: 150px;
  text-rendering: optimizeLegibility;
}

@mixin title-2 {
  font-family: 'Quattrocento';
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

@mixin title-3 {
  font-family: 'Miltonian Tattoo';
  font-size: 94px;
  line-height: 1.7em;
  text-rendering: optimizeLegibility;
}

@mixin title-4 {
  font-family: 'Miltonian Tattoo';
  font-size: 34px;
  line-height: 1.2em;
  margin-bottom: 24px;
  text-rendering: optimizeLegibility;
}

@mixin title-5 {
  font-size: 17px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
}
